DB_URL=
DB_USERNAME=
DB_PASSWORD=

REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_SSL_ENABLED=false
REDIS_MAXMEMORY=256mb

SEATSIO_REGION=
SEATSIO_PUBLIC_KEY=
SEATSIO_SECRET_KEY=

MYSQL_ROOT_PASSWORD=
