DB_URL=
DB_USERNAME=
DB_PASSWORD=

AWS_REGION=ap-northeast-2
AWS_S3_BUCKET=
AWS_S3_IMAGE_PREFIX=image/
AWS_S3_FILE_PREFIX=file/

REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_SSL_ENABLED=false
REDIS_MAXMEMORY=256mb

SEATSIO_REGION=
SEATSIO_PUBLIC_KEY=
SEATSIO_SECRET_KEY=

MYSQL_ROOT_PASSWORD=
